.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
  }
  
  .logo {
    width: 150px;
    height: 100px;
  }
  
  .nav-items > ul {
    font-weight: 400;
    display: flex;
    list-style-type: none;
  }
  
  .nav-items > ul > li {
    font-style: italic;
    font-size: 24px;
    padding: 10px;
    margin: 10px;
  }
  
  .res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .res-card {
    background-color: #e8f5ec;
    margin: 5px;
    padding: 10px;
    width: 200px;
    border: 1px solid black;
    border-radius: 20px;
  }
  .res-card:hover {
    cursor: pointer;
    border: 3px solid rgb(23, 24, 23);
  }
  
  .res-logo {
    padding: 2px;
    width: 190px;
    height: 130px;
    border-radius: 20px;
    border: 1px solid rgb(126, 123, 123);
  }
  
  .footer-container {
    border: 1.5px solid black;
    align-content: baseline;
  }
  
  .footer {
    display: flex;
    align-content: center;
    margin: 5px;
  }

  .filter {
    display: flex;
  }
  
  .top-rated {
    margin: 13px;
    background-color: rgba(73, 120, 239, 0.957);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    padding: 5px;
    border: 3px solid rgb(9, 175, 204);
  }

  .login {
    margin-top: 18px;
    width: 80px;
    height: 30px;
    padding: 0 20px;
    background-color: rgba(73, 120, 239, 0.957);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: 3px solid rgb(9, 175, 204);
  }
  